.mail_to:hover {
    background-color: aliceblue;
}

.cardCert {
    /* background-color: gray; */
    /* color: blue; */
    margin-bottom: 5px;
    border-radius: 10px;
    border-color: aqua;
    /* border: 1px solid aqua; */
}

.cardCert:hover {
    background-color: aquamarine;
    color: black;
    font-size: large;
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
    font-weight: bold;
    /* height: 80px; */
}


.button {
    /* background-color: aliceblue; */
    border-radius: 15px;
    width: 100px;
    
}

.button:hover {
    background-color: aliceblue;
}