.mail_to {
    position: relative;
    display: inline-block;  /* O block, según necesites */
    /* background-color: transparent; */
    overflow: hidden;
    z-index: 0;
    transition: color 0.3s ease;
}

.mail_to::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: aliceblue;  /* color de relleno */
    transform: scaleX(0);
    transform-origin: left;       /* desde la izquierda */
    transition: transform 0.4s ease;
    z-index: -1;
}

.mail_to:hover::before {
    transform: scaleX(1);
}

.mail_to:hover {
    color: black;  /* texto oscuro sobre fondo claro */
    box-shadow: 0 0 20px #326be7;
}

.cardCert {
    margin-bottom: 5px;
    border-radius: 10px;
    border-color: aqua;
}

.cardCert:hover {
    background-color: aquamarine;
    color: black;
    font-weight: bold;
    transform: scale(1.01);
}


.button {
    border-radius: 15px;
    width: 100px;
    
}

.button:hover {
    transform: scale(1.05);
    background-color: aliceblue;
    color: black;
}

.mask_image {
    mask-image: radial-gradient(circle, black 60%, transparent 90%);
}