.mail_to:hover {
    background-color: aliceblue;
}

.cardCert {
    margin-bottom: 5px;
    border-radius: 10px;
    border-color: aqua;
}

.cardCert:hover {
    background-color: aquamarine;
    color: black;
    font-weight: bold;
    transform: scale(1.01);
}


.button {
    border-radius: 15px;
    width: 100px;
    
}

.button:hover {
    background-color: aliceblue;
}

.mask_image {
    mask-image: radial-gradient(circle, black 60%, transparent 90%);
}